@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<br />
<br />
<div class="container mt-5 text-center" style="min-height:100vh;">
    <h3 style="font-size:2.5em;">
        @localizer["Thank you for your feedback!"]
    </h3>
    <p style="font-size:2.0em;">
        @localizer["Our staff will contact you on your request as soon as possible!"]
    </p>
    <a asp-controller="product" asp-action="list" class="btn btn-primary">
        @localizer["Return to the homepage"]
    </a>
</div>