@model CallBackViewModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="container">
    <br />
    <h1 class="text-center mt-5 mb-5">
        <strong>
            @localizer["Contacts"]
        </strong>
    </h1>
    <div class="m-2 p-2">
        @await Component.InvokeAsync("AppAddress")
    </div>
</div>

<!-- Button trigger modal -->
<div class="text-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Have questions? Write to us
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Feedback
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="row p-2">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-12 pt-4">

                            <div class="form-group row">
                                <div class="col-4">
                                    <label asp-for="CallBack.Name">
                                        Your name
                                    </label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="CallBack.Name" class="form-control" />
                                    <span asp-validation-for="CallBack.Name" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-4">
                                    <label asp-for="CallBack.Message">
                                        Message
                                    </label>
                                </div>
                                <div class="col-8">
                                    <textarea asp-for="CallBack.Message" class="form-control" rows="5"></textarea>
                                    <span asp-validation-for="CallBack.Message" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-4">
                                    <label asp-for="CallBack.Contact">
                                        Desired form of communication
                                    </label>
                                </div>
                                <div class="col-8">
                                    <input asp-for="CallBack.Contact" class="form-control" placeholder="phone number or email" />
                                    <span asp-validation-for="CallBack.Contact" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-outline-success form-control">
                            Send
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="text-center">
        @await Component.InvokeAsync("SocialAddress")
    </div>
</div>

@section Scripts{
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>
}