@model IEnumerable<AppSocialAddress>

@if (Model.Count() == 0)
{
    <p class="text-danger">Please add a social link/s</p>
}
else
{
    @foreach (var item in Model)
    {
        <a href="@item.UrlAddress" target="_blank">
            <img style="border-radius:50%;" src="~/images/@item.AppSocialImg" 
                 height="40" width="40" asp-append-version="true" alt="social link image"/>
        </a>
    }
}