@model Category

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = localizer["Add Category"];
}

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<form method="post">
    <div class="row p-2 border" style="margin-top:10%;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Id != 0)
        {
            // Edit
            title = localizer["Edit Category"];
        }

        <div class="col-12 border-bottom">
            <h3>@title</h3>
        </div>

        <div class="col-12 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label>
                        @localizer["Name"]
                    </label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Id" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" model="Model.Id" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.tiny.cloud/1/3qaegff8mo61lk0xki6vwf4leavdmaljpx30jpu9b3zxzh0o/tinymce/5/tinymce.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/sweetalert.min.js"></script>
}