@page
@model ForgotPasswordConfirmation
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Forgot password confirmation"];
}

<div>
    <h1>@ViewData["Title"]</h1>
    <p>
        @localizer["Please check your email to reset your password."]
    </p>
</div>

