@page
@model ResetPasswordConfirmationModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Reset password confirmation"];
}

<div>
    <h1>@ViewData["Title"]</h1>
    <p>
        @localizer["Your password has been reset. Please"] <a asp-page="./Login">@localizer["click here to log in"]</a>.
    </p>
</div>
